<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>button</title>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="flex flex-wrap justify-center mt-10">
      <a
        href="#"
        class="relative flex rounded-sm h-[50px] w-40 items-center justify-center overflow-hidden bg-orange-400 text-white hoshadow-2xl transition-all before:absolute before:h-0 before:w-0 before:rounded-full before:bg-blue-900 before:duration-500 before:ease-out hover:shadow-orange-600 hover:before:h-56 hover:before:w-56"
      >
        <span
          class="relative text-base font-inter font-bold text-white dark:text-dark"
          >OUR SERIVCE</span
        >
      </a>
    </div>
  </body>
</html>
